<h1>Pages#calendar</h1>

<%= text_field_tag :name, "Gina", id: 'greeting-name'%>

<%= stylesheet_pack_tag 'calendar', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= javascript_pack_tag 'hello_react' %>

<%= javascript_pack_tag 'calendar' %>

